
.contactList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.contactItem {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.contactListBtn {
  cursor: pointer;
}

.contactListBtn:focus {
    cursor: pointer;
}
.contactListBtn:hover {
  background-color: rgba(247, 9, 9, 0.919);
  color: white;
  
}

